<div class="text-center rounded-md overflow-hidden cursor-pointer" (click)="onClick()">
  <div class="bg-green-500">
    <p>{{this.user?.name}}</p>
    <p>Membership Id {{this.user?.id}}</p>
  </div>
  <div class="space-y-2 py-2">
    <div class="w-full flex justify-center">
      <img [src]="this.user?.photo" alt="Member photo" class="w-full">
    </div>
    <p>{{this.user?.sub}}</p>
    <p>Views: {{this.user?.views}}</p>
    <p>Expires: {{this.user?.exp}}</p>
  </div>
  <div class="bg-slate-200 py-4">
    <p>Contact: {{this.user?.email}}</p>
  </div>
</div>